<nav class="navbar">

    <div class="nav-left">

       <img src="/img/favicon.png" class="crest">

        <div class="nav-links">

            <a href="/">INÍCIO</a>

            <a href="/camarilhas">CAMARILHAS</a>

            <a href="/combate">COMBATE</a>

            <a href="/mapa">MAPA</a>

            <a href="/privilegios">PRIVILÉGIOS</a>

        </div>

    </div>

</nav>