<%- include("../partials/header") %>

<main class="camarilhas-bully-page">

    <section class="camarilhas-bully-box">

        <img src="/img/camarilhas-title.png" class="camarilhas-title-img" alt="CAMARILHAS">

        <div class="bully-breadcrumb">
        HOME: AMBIENTAÇÃO: CAMARILHAS
        </div>

        <div class="camarilhas-bully-line"></div>

        <nav class="camarilhas-bully-list">

            <a href="/camarilhas/jocks">JOCKS</a>
            <a href="/camarilhas/preppies">PREPPIES</a>
            <a href="/camarilhas/bullies">BULLIES</a>

            <a href="/camarilhas/cheers">CHEERS</a>
            <a href="/camarilhas/greasers">GREASERS</a>
            <a href="/camarilhas/nerds">NERDS</a>

        </nav>

        <div class="camarilhas-return">
    <a href="/">RETURN TO MAIN MENU</a>
</div>

    </section>

</main>

<%- include("../partials/footer") %>