<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<main class="home-screen">

    <section class="left-panel">

        <div class="panel-box">

            <div class="panel-header">
                <img src="/img/brasao.png">

                <div>
                    <span>BULLWORTH ACADEMY</span>
                    <small>EST. 2006</small>
                </div>
            </div>

            <div class="panel-title">
                <h2>SOBRE BULLWORTH</h2>
                <div class="panel-line"></div>
            </div>

            <p>
                Bem vindo (a) à indisciplinada Bullworth Academy, onde a sua vida escolar depende nada mais, nada menos, do que do seu corpo (ou da sua conta bancária).
            </p>

            <p>
                Entre corredores, banheiros, salas de aulas, garagens e até mesmo o seu dormitório, você vai dar de um cara com um mané de quinta, então, tome cuidado.
            </p>

            <p>
                Aqui, sobreviver é mais importante do que ganhar uma briga.
            </p>

            <div class="panel-divider"></div>

            <div class="panel-link">
                <div class="panel-icon">
                    <img class="fist-icon" src="/img/fist.png">
                </div>

                <div>
                    <h3>CAMARILHAS</h3>
                    <span>Conheça os grupos que dominam a escola.</span>
                </div>
            </div>

            <div class="panel-link">
                <div class="panel-icon">
                    <img src="/img/skull.png">
                </div>

                <div>
                    <h3>COMBATE</h3>
                    <span>Lute, defenda seu território, conquiste respeito.</span>
                </div>
            </div>

            <div class="panel-link">
                <div class="panel-icon">
                    <img src="/img/book.png">
                </div>

                <div>
                    <h3>PRIVILÉGIOS</h3>
                    <span>Seja você um gigante, um cabeça-de-ferro ou um ratinho, lidere Bullworth.</span>
                </div>
            </div>

        </div>

    </section>

    <section class="right-panel">

    <div class="hero-content">

        <img src="/img/Bully-Logo.png" class="home-logo">

        <p class="home-subtitle">
            BULLWORTH ACADEMY • EST. 2006
        </p>

        <h1 class="home-title">
            INFORMAÇÕES<br>
            ESCOLARES
        </h1>

        <p class="home-description">
            Bullworth te observa, garoto. Mas você pode observá-la também.

    </div>

</section>

</main>

<%- include("../partials/footer") %>