<%- include("../partials/header") %>

<main class="pause-home">

    <section class="pause-menu">

        <img src="/img/bullworthacademy.png" class="pause-title-img" alt="BULLWORTH ACADEMY">

<img src="/img/gamepaused.png" class="pause-subtitle-img" alt="GAME PAUSED">

        <nav class="pause-options">

    <a href="/sistemas">SISTEMAS</a>

    <a href="/camarilhas">CAMARILHAS</a>

    <a href="/privilegios">PRIVILÉGIOS</a>

    <a href="#" class="disabled-menu">LOAD</a>

    <a href="#" class="disabled-menu">RESTART</a>

    <a href="#" class="disabled-menu">QUIT TO MAIN MENU</a>

</nav>

               <div class="bully-music-display">

            <button type="button" id="music-toggle">
                ▶
            </button>

            <div>
                <strong>MAIN THEME : PAUSED</strong>
                <span>1985, New England</span>
            </div>

        </div>

    </section>

</main>

<audio id="menu-click" preload="auto">
    <source src="/audio/menu-click.mp3" type="audio/mpeg">
</audio>

<audio id="main-theme" loop preload="auto">
    <source src="/audio/bully-main-theme.mp3" type="audio/mpeg">
</audio>

<script>
    const clickSound = document.getElementById("menu-click");
    const musicToggle = document.getElementById("music-toggle");
    const musicText = document.querySelector(".bully-music-display strong");
    const audio = document.getElementById("main-theme");

    clickSound.volume = 0.2;
    audio.volume = 0.25;

    document.querySelectorAll(".pause-options a").forEach(link => {
        link.addEventListener("click", async (e) => {
            e.preventDefault();

            clickSound.currentTime = 0;

            try{
                await clickSound.play();
            }catch(error){
                console.log("Som bloqueado ou arquivo não encontrado.");
            }

            const href = link.getAttribute("href");

            if(href && href !== "#"){
                setTimeout(() => {
    window.location.href = href;
}, 700);
            }
        });
    });

    let playing = false;

    musicToggle.addEventListener("click", () => {
        if(!playing){
            audio.play();
            musicText.textContent = "MAIN THEME : PLAYING";
            musicToggle.textContent = "❚❚";
            playing = true;
        }else{
            audio.pause();
            musicText.textContent = "MAIN THEME : PAUSED";
            musicToggle.textContent = "▶";
            playing = false;
        }
    });
</script>

<%- include("../partials/footer") %>