<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<main class="gang-detail-page">

    <section class="gang-banner">

        <img src="/img/jocks-gang.png">

        <div class="gang-banner-overlay">

            <span>ARQUIVO DE CAMARILHA</span>

            <h1>JOCKS</h1>

        </div>

    </section>

    <section class="gang-detail-panel">

        Em breve... Os atletas!

    </section>
    <div class="bullies-actions">

    <a href="/camarilhas/jocks/nivelamento" class="next-page report-link">
        NIVELAMENTO
        <span>></span>
    </a>

</div>

</main>