<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<main class="gang-detail-page">

    <section class="gang-banner">

        <img src="/img/nerds-gang.png">

        <div class="gang-banner-overlay">

            <span>ARQUIVO DE CAMARILHA</span>

            <h1>NERDS</h1>

        </div>

    </section>

    <section class="gang-detail-panel">

        Em breve... Os cabeções!

    </section>

</main>